.sect_content__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;

    background-color: lightgrey;

    padding: 2% 3%;
}

.card{
    padding: 4% 3%;
    border-radius: 1vw;
    background-color: white;
}